@import url('_loader.css');
@import url('_btn_learnmore.css');
@import url('_input_select.css');
@import url('_table_big.css');
select {
    width: 70%;
}
input:hover, input:focus {
    box-shadow: none;
}
.table_header {
    justify-content: space-between;
}
.custom-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
}

label {
    margin-right: 1rem;
}

.d-none {
    display: none;
}