Options -Indexes

RewriteEngine On
RewriteBase /cartonagem-trindade/
RewriteCond %{THE_REQUEST} /src/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!src/).*)$ src/$1 [L,NC]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^(?:www\.)?([a-z0-9-]+\.[a-z]+)
ErrorDocument 404 http://localhost/cartonagem-trindade/src/404.html